#Ignore all files with extentions:
*.dll
*.suo
*.dll
*.pdb
*.CopyComplete
*.CoreCompileInputs.c

#Ignore all bin and obj folders
bin/
obj/
App_Data/
packages/

# Visual Studio 2015 cache/options directory
.vs/